extends layout

block body
  div(ng-controller="ChartController as ctrl")
     datepicker(ng-model="ctrl.dateFilter", min-date="ctrl.minDate", show-weeks="false", class="well well-sm")

     chart(chart-config="ctrl.chartConfig",  data="ctrl.seriesData")

block body_bottom
  script(src="/scripts/templates.js")
  script(src="/scripts/chart.js")
