doctype html
html(lang='en')
head
    link(type="image/x-icon" rel="icon" href="http://www.emarsys.com/en/wp-content/themes/emarsys/img/icons/favicon.ico")
    link(href='http://fonts.googleapis.com/css?family=Roboto:300,400' rel='stylesheet' type='text/css')
    link(rel="apple-touch-icon" href="http://www.emarsys.com/en/wp-content/themes/emarsys/img/ios-touch-icon/emarsys-touch-57x57.png")
    link(rel="apple-touch-icon" sizes="72x72" href="http://www.emarsys.com/en/wp-content/themes/emarsys/img/ios-touch-icon/emarsys-touch-72x72.png")
    link(rel="apple-touch-icon" sizes="114x114" href="http://www.emarsys.com/en/wp-content/themes/emarsys/img/ios-touch-icon/emarsys-touch-114x114.png")
    link(rel="apple-touch-icon" sizes="144x144" href="http://www.emarsys.com/en/wp-content/themes/emarsys/img/ios-touch-icon/emarsys-touch-144x144.png")
    meta(charset='utf-8')
    title User Management
    link(href='/css/welcome.css' rel='stylesheet' type='text/css')
body
    .content-container
        .content
            img.logo(src="/images/emarsys.svg")
            h2 emarsys
            h1 JS boilerplate
