html
  head
    link(rel="stylesheet" type="text/css" href="/css/main.css")

    block head

  body

    .header

    .body
      block body


    script(src="/scripts/vendors.js")
    block body_bottom
