html
  head
    link(rel="stylesheet" type="text/css" href="/css/main.css")

    block head

  body

    .header

    .body
      block body


    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.js")
    block body_bottom
