extends layout

block body
  div(ng-controller="ExampleController as ctrl")
    h1 created by

    ul.users
      li.user(ng-repeat="user in ctrl.users")
        img(ng-src="/images/{{ ::user.img }}")
        .name {{ ::user.name }}

    .btn-group(ng-if="!ctrl.users")
      button.btn.btn-default(ng-click="ctrl.fetchFromServer()") Fetch from server

block body_bottom
  script(src="/scripts/templates.js")
  script(src="/scripts/example.js")
