extends layout

block body
  div(ng-controller="ExampleController as ctrl")
    ul
      li(ng-repeat="user in ctrl.users") {{ user }}

    .btn-group
      button.btn.btn-default(ng-click="ctrl.fetchFromServer()") Fetch heroes from server

block body_bottom
  script(src="/scripts/example.js")
