extends layout

block body
  div(ng-controller="ExampleController as ctrl")
    span {{ ctrl.variable }}
    button(ng-click="ctrl.setVariable(12)")
      | Press handle by angular

block body_bottom
  script(src="/scripts/example.js")
