$fontFamily = "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$headerColor = rgb(16, 47, 153)
$headerFontColor = white
$pageLeftMargin = 60px

body,
html
  margin: 0

.header
  height: 80px
  background: $headerColor
  color: $headerFontColor
  background-image: url('//suite7.emarsys.net/img/layout/logo.png')
  background-repeat: no-repeat
  background-position: $pageLeftMargin 20px

.body
  margin: $pageLeftMargin $pageLeftMargin 50px

.users
  margin: 0
  padding: 0

.user
  display: inline-block
  width: 150px
  height: 150px
  text-align: center

  .name
    margin-top: 5px

  &.ng-enter,
  &.ng-leave
    transition:0.5s linear all

  &.ng-enter
    position: absolute
    top: 500px

  &.ng-enter.ng-enter-active
    position: absolute
    top: 500px

